<h1>Cadastro de Categoria</h1>
<div>
  <form [formGroup]="categoryForm" (ngSubmit)="save(categoryForm.value)">
    <mat-form-field *ngIf="idCategory" class="mat-form-field-id">
      <input disabled matInput [value]="idCategory">
    </mat-form-field>
    <br>
    <mat-form-field class="mat-form-field-name">
      <input matInput placeholder="Nome do produto" formControlName="name" required>
      <mat-hint align="end">{{inputDescription.value?.length || 0}}/100</mat-hint>
      <mat-error *ngFor="let validation of validationMessages.name">
        <mat-error class="error-message"
          *ngIf="categoryForm.get('name').hasError(validation.type) && (categoryForm.get('name').dirty || categoryForm.get('name').touched)">
          {{validation.message}}</mat-error>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="mat-form-field-description">
      <textarea rows="3" matInput #inputDescription placeholder="Descrição do produto" formControlName="description"
        required></textarea>
      <mat-hint align="end">{{inputDescription.value?.length || 0}}/300</mat-hint>
      <mat-error *ngFor="let validation of validationMessages.description">
        <mat-error class="error-message"
          *ngIf="categoryForm.get('description').hasError(validation.type) && (categoryForm.get('description').dirty || categoryForm.get('description').touched)">
          {{validation.message}}</mat-error>
      </mat-error>
    </mat-form-field>
    <br>
    <button class="submit-btn" color="primary" mat-raised-button type="submit"
      [disabled]="!categoryForm.valid">{{action}}</button>
    <button color="warn" mat-raised-button type="button" (click)="delete()">Excluir</button>
    <button mat-raised-button type="button" (click)="cancel()">Cancelar</button>
  </form>

</div>