<h1>Produtos</h1>
<mat-form-field >
  <mat-label>Filtro</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mochila para notebook">
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="barcode">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Código de barras</th>
      <td mat-cell *matCellDef="let row"> {{row.barcode}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
      <td mat-cell *matCellDef="let row"> {{row.name}} </td>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Quantidade</th>
      <td mat-cell *matCellDef="let row" > {{row.quantity}} </td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Categoria</th>
      <td mat-cell *matCellDef="let row" > {{row.category.name}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Ações</th>
        <td mat-cell *matCellDef="let row">
            <button mat-mini-fab color="primary" type="button" (click)="detail(row)"
                matTooltip="Editar">
                <mat-icon class="icone-tabela">edit</mat-icon>
            </button>
            <button mat-mini-fab color="primary" type="button" (click)="delete(row.barcode)"
                matTooltip="Excluir">
                <mat-icon class="icone-tabela">delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
